.container-menu {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9696a8;
    padding: 20px;
    border: solid 1px #1a1a1a;
}

.selection-player-container{
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #1a1a1a;
    border-radius: 8px;
    padding: 10px;
}

.buttons-player-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-player{
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    flex-grow: 1;
}

.button-player:hover {
    background-color: #f4f4f4;
    border-color: #bbb;
}

.button-player.selected{
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
    outline: 4px auto -webkit-focus-ring-color;
}

.selection-tablero-container{
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #1a1a1a;
    border-radius: 8px;
    padding: 10px;
}

.tablero-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 150px;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.size-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.size-button:hover {
    background-color: #f4f4f4;
    border-color: #bbb;
}

.size-button.selected {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
    outline: 4px auto -webkit-focus-ring-color;
}

.button-play{
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.button-play:hover {
    background-color: #f4f4f4;
    border-color: #bbb;
}