.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: #1a1a1a;*/
    background-color: #545465;
    padding-bottom: 20px;
}

.tablero-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));*/
    gap: 10px;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
}

.image {
    width: 95%;
    height: 90%;
}

.dorso {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card{
    width: 100%;
    aspect-ratio: 1 / 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s;
}

.card.flipped {
    background-color: #b2b2c3;
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #90ee90;
}

.player-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.player{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.player-turn{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #45f345;
    box-shadow: 6px 6px 20px green;
}

@media (min-width: 1200px) {
    .tablero-container {
        max-width: 700px;
    }
}
