.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tablero-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
}

.image {
    width: 95%;
    height: 95%;
}

.card{
    width: 100%;
    position: relative;
    justify-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s;
}

.card.flipped {
    background-color: #b2b2c3;
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #90ee90;
}

@media (max-width: 600px) {
    .tablero-container {
        gap: 5px;
    }
}

@media (min-width: 1200px) {
    .tablero-container {
        max-width: 600px;
    }
}
